<div class="container" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            Welcome <b>{{name}}</b> to angular project you can manage your todos <a routerLink="/todos">Click here</a>
        </div>
        <div class="col-md--3"></div>
    </div>

    <div class="row">
        <p style="text-align: center;margin-top: 50px;">
            Click here to get customized welcome message
            <button type="button" (click)="getwelcomemessage()" class="btn btn-primary">Welcome</button>
        </p>
    </div>

</div>